@-viewport {
  width: device-width; }
.mf-wrap .clear-fix {
  *zoom: 1; }
  .mf-wrap .clear-fix::before, .mf-wrap .clear-fix::after {
    content: ' ';
    display: table; }
  .mf-wrap .clear-fix::after {
    clear: both; }
.mf-wrap * {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none; }
.mf-wrap .anim-on, .mf-wrap .mf-btn,
.mf-wrap .anim-on *,
.mf-wrap .mf-btn * {
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }
.mf-wrap .anim-off,
.mf-wrap .anim-off * {
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  -webkit-transition: none !important;
  transition: none !important; }
.mf-wrap input,
.mf-wrap textarea,
.mf-wrap button {
  appearance: none; }
.mf-wrap button {
  cursor: pointer; }
  .mf-wrap button[disabled] {
    cursor: not-allowed;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    background: #b1aeb7 !important; }
  .mf-wrap button:focus {
    outline: 0;
    box-shadow: none; }
.mf-wrap a {
  color: inherit;
  outline: none;
  text-decoration: none; }
  .mf-wrap a:hover, .mf-wrap a:active, .mf-wrap a:focus, .mf-wrap a:link, .mf-wrap a:visited {
    color: inherit;
    outline: 0;
    text-decoration: none;
    box-shadow: none; }
.mf-wrap .text-center {
  text-align: center; }
.mf-wrap .text-muted {
  color: #b1aeb7; }
.mf-wrap .text-action {
  color: #4c2f87;
  font-weight: 700; }
.mf-wrap .pull-left {
  float: left; }
.mf-wrap .pull-right {
  float: right; }
.mf-wrap .hide {
  height: 1px;
  margin-top: 20px;
  opacity: 0;
  visibility: hidden; }
.mf-wrap h2.hide {
  margin-top: 0; }
.mf-wrap .notification-margin {
  width: 100%;
  height: 1px;
  margin-bottom: 60px; }
  @media all and (max-width: 1199px) {
    .mf-wrap .notification-margin {
      margin-bottom: 45px; } }
  @media all and (max-width: 782px) {
    .mf-wrap .notification-margin {
      margin-bottom: 30px; } }

.mf-wrap {
  color: #0b132b;
  font-family: "Poppins", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: subpixel-antialiased;
  line-height: 1;
  text-rendering: optimizeSpeed; }
  .mf-wrap p,
  .mf-wrap h1,
  .mf-wrap h2,
  .mf-wrap h3,
  .mf-wrap h4,
  .mf-wrap h5,
  .mf-wrap h6 {
    line-height: normal;
    margin: 0;
    padding: 0; }
  .mf-wrap h1 {
    font-size: 28px;
    font-weight: 700;
    line-height: 32px; }
  .mf-wrap h3 {
    font-weight: 400;
    font-size: 18px;
    line-height: 32px; }

.content {
  width: 95%;
  max-width: 720px;
  height: auto;
  overflow: hidden;
  margin: 0 auto; }

@-viewport {
  width: device-width; }
.mf-wrap .clear-fix {
  *zoom: 1; }
  .mf-wrap .clear-fix::before, .mf-wrap .clear-fix::after {
    content: ' ';
    display: table; }
  .mf-wrap .clear-fix::after {
    clear: both; }
.mf-wrap * {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none; }
.mf-wrap .anim-on, .mf-wrap .mf-btn,
.mf-wrap .anim-on *,
.mf-wrap .mf-btn * {
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }
.mf-wrap .anim-off,
.mf-wrap .anim-off * {
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  -webkit-transition: none !important;
  transition: none !important; }
.mf-wrap input,
.mf-wrap textarea,
.mf-wrap button {
  appearance: none; }
.mf-wrap button {
  cursor: pointer; }
  .mf-wrap button[disabled] {
    cursor: not-allowed;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    background: #b1aeb7 !important; }
  .mf-wrap button:focus {
    outline: 0;
    box-shadow: none; }
.mf-wrap a {
  color: inherit;
  outline: none;
  text-decoration: none; }
  .mf-wrap a:hover, .mf-wrap a:active, .mf-wrap a:focus, .mf-wrap a:link, .mf-wrap a:visited {
    color: inherit;
    outline: 0;
    text-decoration: none;
    box-shadow: none; }
.mf-wrap .text-center {
  text-align: center; }
.mf-wrap .text-muted {
  color: #b1aeb7; }
.mf-wrap .text-action {
  color: #4c2f87;
  font-weight: 700; }
.mf-wrap .pull-left {
  float: left; }
.mf-wrap .pull-right {
  float: right; }
.mf-wrap .hide {
  height: 1px;
  margin-top: 20px;
  opacity: 0;
  visibility: hidden; }
.mf-wrap h2.hide {
  margin-top: 0; }
.mf-wrap .notification-margin {
  width: 100%;
  height: 1px;
  margin-bottom: 60px; }
  @media all and (max-width: 1199px) {
    .mf-wrap .notification-margin {
      margin-bottom: 45px; } }
  @media all and (max-width: 782px) {
    .mf-wrap .notification-margin {
      margin-bottom: 30px; } }

.mf-btn {
  display: inline-block;
  border: 0;
  border-radius: 4px;
  height: 25px;
  line-height: 24px;
  width: auto;
  text-align: center;
  font-size: 10px;
  font-weight: 700;
  padding: 0 16px;
  letter-spacing: .5px; }
  .mf-btn.error {
    color: #fff !important;
    background: #e64147; }
    .mf-btn.error:hover {
      background: #e32a31;
      cursor: pointer; }
  .mf-btn.enable {
    color: #fff !important;
    background: #4c2f87; }
    .mf-btn.enable:hover {
      background: #412874;
      cursor: pointer; }
  .mf-btn.save {
    margin-left: 35px;
    margin-top: 10px; }
  .mf-btn.action {
    display: block;
    height: 40px;
    line-height: 39px;
    color: #fff;
    background: #4c2f87;
    margin: 50px auto 0 auto;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: .25px;
    padding: 0 30px; }
    .mf-btn.action:hover {
      background: #412874;
      cursor: pointer; }
  .mf-btn.show-qr {
    display: block;
    height: 30px;
    line-height: 30px;
    color: #fff;
    background: #4c2f87;
    margin-top: 40px;
    padding: 0 25px; }
    @media all and (max-width: 782px) {
      .mf-btn.show-qr {
        margin: 15px auto 0 auto; } }
    .mf-btn.show-qr:hover {
      background: #412874;
      cursor: pointer; }
  .mf-btn.delete {
    display: inline-block;
    height: 30px;
    line-height: 29px;
    padding: 0 30px;
    font-size: 15px;
    letter-spacing: .25px;
    font-weight: 400;
    margin-right: 30px;
    color: #fff !important;
    background: #eb1c23; }
    .mf-btn.delete:hover {
      background: #da131a;
      cursor: pointer; }
  .mf-btn.login {
    position: absolute;
    left: 0;
    top: 60px;
    width: 100%;
    height: 40px;
    line-height: 39px;
    border-radius: 0;
    font-size: 13px;
    letter-spacing: .25px;
    font-weight: 400;
    background: #0b132b;
    color: #fff; }
    .mf-btn.login.normal-login {
      top: 40px;
      display: none; }
    .mf-btn.login:hover {
      background: #101c3f;
      cursor: pointer; }

.radio-input-box {
  display: block;
  width: 100%;
  height: auto;
  overflow: hidden;
  float: none;
  clear: both; }

input[type="radio"] {
  display: none; }
  input[type="radio"]:checked + label .checked {
    display: block !important; }
  input[type="radio"]:checked + label .unchecked {
    display: none !important; }
  input[type="radio"] + label {
    display: block;
    height: 30px;
    line-height: 30px; }
    input[type="radio"] + label .label-left {
      display: block;
      float: left;
      width: 18px; }
    input[type="radio"] + label .label-right {
      display: block;
      float: left;
      width: 100%;
      padding-right: 18px;
      margin-right: -18px; }
    input[type="radio"] + label .input-desc {
      display: block;
      float: left;
      font-size: 13px;
      line-height: 28px;
      margin-left: 20px;
      font-weight: 300;
      letter-spacing: -.3px;
      vertical-align: middle;
      text-align: left; }
      input[type="radio"] + label .input-desc strong {
        font-weight: 700;
        font-size: 16px;
        line-height: 28px;
        margin-right: 5px; }
    input[type="radio"] + label i.icon {
      display: inline-block;
      vertical-align: sub; }
    input[type="radio"] + label .checked {
      float: left;
      display: none !important; }
    input[type="radio"] + label .unchecked {
      float: left;
      display: block !important; }

ul.list-inline {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  height: auto;
  overflow: hidden; }
  ul.list-inline.list-spacer li {
    padding: 0 30px;
    border-right: 1px solid #c6c6c6; }
    ul.list-inline.list-spacer li:first-of-type {
      padding-left: 0; }
    ul.list-inline.list-spacer li:last-of-type {
      border-right: 0; }
    ul.list-inline.list-spacer li.learn-more {
      padding: 0; }
      ul.list-inline.list-spacer li.learn-more a {
        padding: 0 30px;
        font-size: 10px; }
  ul.list-inline li {
    display: block;
    float: left;
    margin: 0;
    padding: 0; }
    ul.list-inline li a {
      display: block;
      width: 100%;
      height: 100%; }
      ul.list-inline li a.learn-more {
        font-size: 11px;
        line-height: 16px; }
    ul.list-inline li p {
      font-size: 11px;
      line-height: 16px; }
      ul.list-inline li p .status {
        margin-right: 5px; }

.icon {
  background-image: url(../images/sprites.png);
  background-repeat: no-repeat;
  display: block; }

.icon-app-store {
  width: 135px;
  height: 40px;
  background-position: -5px -5px; }

.icon-delete {
  width: 13px;
  height: 16px;
  background-position: -5px -55px; }

.icon-delete-exclamation-mark {
  width: 26px;
  height: 26px;
  background-position: -28px -55px; }

.icon-error {
  width: 64px;
  height: 47px;
  background-position: -64px -55px; }

.icon-google-play {
  width: 136px;
  height: 42px;
  background-position: -5px -112px; }

.icon-radio-checked {
  width: 18px;
  height: 18px;
  background-position: -138px -55px; }

.icon-radio-unchecked {
  width: 18px;
  height: 18px;
  background-position: -138px -83px; }

.icon-scanning-tips {
  width: 16px;
  height: 16px;
  background-position: -150px -5px; }

.icon-scanning-tips-login {
  width: 29px;
  height: 28px;
  background-position: -151px -111px; }

.icon-tick {
  width: 51px;
  height: 33px;
  background-position: -176px -5px; }

.login #login.with-qr p#nav {
  display: none; }
.login #login.with-qr form {
  padding: 24px; }
  .login #login.with-qr form p {
    display: none; }
  .login #login.with-qr form .tip {
    display: block; }
  .login #login.with-qr form .qr-code-wrapper {
    display: block !important; }
  .login #login.with-qr form .login-button {
    display: none; }
  .login #login.with-qr form .normal-login {
    display: block; }
  .login #login.with-qr form .mf-modal-backdrop p {
    display: inherit; }
.login #login form {
  position: relative;
  overflow: visible;
  margin-bottom: 70px; }
  .login #login form .sk-circle {
    margin: 46px auto;
    width: 200px;
    height: 200px;
    position: relative !important; }
    .login #login form .sk-circle .sk-child {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0; }
      .login #login form .sk-circle .sk-child::before {
        content: '';
        display: block;
        margin: 0 auto;
        width: 15%;
        height: 15%;
        background-color: #333;
        border-radius: 100%;
        -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
        animation: sk-circleBounceDelay 1.2s infinite ease-in-out both; }
    .login #login form .sk-circle .sk-circle2 {
      -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
      transform: rotate(30deg); }
      .login #login form .sk-circle .sk-circle2::before {
        -webkit-animation-delay: -1.1s;
        animation-delay: -1.1s; }
    .login #login form .sk-circle .sk-circle3 {
      -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
      transform: rotate(60deg); }
      .login #login form .sk-circle .sk-circle3::before {
        -webkit-animation-delay: -1s;
        animation-delay: -1s; }
    .login #login form .sk-circle .sk-circle4 {
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg); }
      .login #login form .sk-circle .sk-circle4::before {
        -webkit-animation-delay: -0.9s;
        animation-delay: -0.9s; }
    .login #login form .sk-circle .sk-circle5 {
      -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
      transform: rotate(120deg); }
      .login #login form .sk-circle .sk-circle5::before {
        -webkit-animation-delay: -0.8s;
        animation-delay: -0.8s; }
    .login #login form .sk-circle .sk-circle6 {
      -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
      transform: rotate(150deg); }
      .login #login form .sk-circle .sk-circle6::before {
        -webkit-animation-delay: -0.7s;
        animation-delay: -0.7s; }
    .login #login form .sk-circle .sk-circle7 {
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg); }
      .login #login form .sk-circle .sk-circle7::before {
        -webkit-animation-delay: -0.6s;
        animation-delay: -0.6s; }
    .login #login form .sk-circle .sk-circle8 {
      -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
      transform: rotate(210deg); }
      .login #login form .sk-circle .sk-circle8::before {
        -webkit-animation-delay: -0.5s;
        animation-delay: -0.5s; }
    .login #login form .sk-circle .sk-circle9 {
      -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
      transform: rotate(240deg); }
      .login #login form .sk-circle .sk-circle9::before {
        -webkit-animation-delay: -0.4s;
        animation-delay: -0.4s; }
    .login #login form .sk-circle .sk-circle10 {
      -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
      transform: rotate(270deg); }
      .login #login form .sk-circle .sk-circle10::before {
        -webkit-animation-delay: -0.3s;
        animation-delay: -0.3s; }
    .login #login form .sk-circle .sk-circle11 {
      -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
      transform: rotate(300deg); }
      .login #login form .sk-circle .sk-circle11::before {
        -webkit-animation-delay: -0.2s;
        animation-delay: -0.2s; }
    .login #login form .sk-circle .sk-circle12 {
      -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
      transform: rotate(330deg); }
      .login #login form .sk-circle .sk-circle12::before {
        -webkit-animation-delay: -0.1s;
        animation-delay: -0.1s; }
@-webkit-keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
@keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
  .login #login form .login-button-wrapper {
    position: relative;
    width: 100%; }
    .login #login form .login-button-wrapper .qr-code-wrapper {
      position: static;
      text-align: center;
      display: none; }
      .login #login form .login-button-wrapper .qr-code-wrapper > * {
        position: static; }
      .login #login form .login-button-wrapper .qr-code-wrapper img {
        display: block;
        width: 100%;
        height: auto;
        image-rendering: pixelated; }
        .login #login form .login-button-wrapper .qr-code-wrapper img.loading {
          display: none; }
      .login #login form .login-button-wrapper .qr-code-wrapper .sk-circle {
        display: none; }
        .login #login form .login-button-wrapper .qr-code-wrapper .sk-circle.loading {
          display: block; }
    .login #login form .login-button-wrapper .pos-r {
      position: relative;
      margin: 0 -24px; }
    .login #login form .login-button-wrapper h3 {
      font-weight: 400;
      font-size: 15px;
      margin-bottom: 20px; }
  .login #login form .tip {
    display: none;
    position: absolute;
    top: -14px;
    right: -14.5px; }

li#toplevel_page_magic-password-settings.toplevel_page_magic-password-settings > a .wp-menu-image::before {
  display: inline-block;
  content: ' ';
  background-size: 20px 20px;
  background: url("../svg/icon.svg") no-repeat center center;
  height: 20px;
  width: 20px; }

.mf-wrap .notice {
  border-radius: 3px;
  box-shadow: none; }
  .mf-wrap .notice.notice-error {
    border-left-color: #eb1c23; }
  .mf-wrap .notice p {
    font-size: 12px;
    letter-spacing: .25px;
    font-weight: 400;
    color: #0b132b; }

.mf-header {
  position: relative;
  width: 100%;
  height: 62px;
  margin-top: 20px; }
  @media all and (max-width: 782px) {
    .mf-header {
      width: 95%;
      max-width: 720px;
      margin: 20px auto 0 auto; } }
  @media all and (max-width: 480px) {
    .mf-header {
      text-align: center; } }
  .mf-header-info {
    position: relative;
    height: 25px;
    line-height: 25px;
    z-index: 2; }
    @media all and (max-width: 480px) {
      .mf-header-info {
        text-align: center;
        margin-top: 15px;
        margin-bottom: 30px; } }
    .mf-header-info .list-inline {
      display: inline-block;
      vertical-align: middle;
      line-height: 26px; }
      .mf-header-info .list-inline li {
        line-height: 26px; }
        .mf-header-info .list-inline li p {
          line-height: 26px; }
  .mf-header-disable {
    display: inline-block;
    float: right; }
    @media all and (max-width: 480px) {
      .mf-header-disable {
        float: none;
        margin-top: 10px; } }
  .mf-header .content {
    padding-top: 42px;
    line-height: 25px; }
  .mf-header .logo {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%; }
    @media all and (max-width: 768px) {
      .mf-header .logo {
        position: static;
        left: auto;
        top: auto;
        display: inline-block; } }
    .mf-header .logo img {
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      display: block;
      transform: scale(0.5);
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0; }
.mf-modal {
  display: inline-block;
  border-radius: 4px;
  background: #fff;
  padding: 40px 90px;
  outline: 0;
  transition: all 1s linear; }
  @media all and (max-width: 1199px) {
    .mf-modal {
      position: static;
      top: auto;
      left: auto;
      transform: none;
      margin: 50px auto;
      display: block;
      width: 95%;
      max-width: 500px;
      padding: 40px; } }
  @media all and (max-width: 991px) {
    .mf-modal {
      padding: 30px; } }
  .scanning-tips-modal .mf-modal {
    position: relative; }
  .mf-modal-backdrop {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999999;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
    opacity: 0; }
    .mf-modal-backdrop > * {
      display: table-cell; }
    @media all and (max-width: 1199px) {
      .mf-modal-backdrop {
        overflow: scroll; }
        .mf-modal-backdrop > * {
          display: inline-block; } }
    .mf-modal-backdrop.mf-modal-show {
      display: table; }
      @media all and (max-width: 1199px) {
        .mf-modal-backdrop.mf-modal-show {
          display: block; } }
    .mf-modal-backdrop-content {
      vertical-align: middle;
      text-align: center;
      position: relative;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%; }
      @media all and (max-width: 1199px) {
        .mf-modal-backdrop-content {
          height: auto;
          left: auto;
          overflow: visible;
          top: auto; } }
    .mf-modal-backdrop * {
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      outline: none; }
  .mf-modal-content {
    width: auto;
    height: auto;
    position: relative; }
    .mf-modal-content .icon-error {
      margin: 0 auto 45px auto; }
  .mf-modal-steps-container {
    height: auto;
    overflow: hidden;
    text-align: center; }
  .mf-modal-step {
    display: block;
    float: left;
    margin-right: 50px; }
    @media all and (max-width: 1199px) {
      .mf-modal-step {
        float: none;
        margin-right: 0;
        margin-bottom: 30px; } }
    .mf-modal-step:last-of-type {
      margin-right: 0;
      margin-bottom: 0; }
    .mf-modal-step p.step {
      font-size: 12px;
      font-weight: 700;
      margin-bottom: 15px; }
    .mf-modal-step p.step-desc {
      font-weight: 400;
      font-size: 14px;
      margin-top: 15px; }
  .mf-modal .icon-tick {
    display: inline-block;
    margin-bottom: 10px; }
  .mf-modal h2 {
    font-weight: 300;
    font-size: 33px;
    text-align: center;
    margin-bottom: 55px; }
    @media all and (max-width: 991px) {
      .mf-modal h2 {
        line-height: 28px;
        font-size: 24px;
        margin-bottom: 30px; } }
  .mf-modal h6 {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 50px; }
    @media all and (max-width: 991px) {
      .mf-modal h6 {
        text-align: center;
        margin-bottom: 25px; } }
  .mf-modal p.info-paragraph {
    max-width: 310px;
    font-size: 18px;
    line-height: 30px;
    margin: 0 auto 60px auto; }
    @media all and (max-width: 991px) {
      .mf-modal p.info-paragraph {
        text-align: center;
        margin: 0 auto 30px auto; } }
.delete-modal .mf-modal {
  padding: 40px; }
  .delete-modal .mf-modal .icon-delete-exclamation-mark {
    position: absolute;
    left: 50%;
    top: -53px;
    margin-left: -13px;
    z-index: 2; }
  .delete-modal .mf-modal .confirm-buttons {
    height: auto;
    overflow: hidden;
    margin-top: 40px;
    text-align: center; }
    .delete-modal .mf-modal .confirm-buttons a {
      display: inline-block;
      line-height: 30px;
      font-size: 15px;
      font-weight: 700;
      letter-spacing: .25px; }
  .delete-modal .mf-modal h6 {
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    margin-bottom: 20px; }
  .delete-modal .mf-modal p.info-paragraph {
    font-size: 14px;
    line-height: 22px;
    max-width: 320px; }
.mf-step {
  width: 100%;
  height: 300px;
  background: #fff;
  border-radius: 3px;
  padding: 35px;
  margin-bottom: 30px; }
  @media all and (max-width: 782px) {
    .mf-step {
      height: auto;
      overflow: hidden; } }
  .mf-step:first-of-type {
    margin-top: 35px; }
  .mf-step:last-of-type {
    margin-bottom: 0; }
  .mf-step-left, .mf-step-right {
    height: 100%;
    float: left; }
    @media all and (max-width: 782px) {
      .mf-step-left, .mf-step-right {
        float: none;
        width: 100% !important;
        margin-right: 0 !important;
        line-height: 1;
        height: auto;
        overflow: hidden; } }
  .mf-step-left {
    width: 35%;
    margin-right: 5%;
    line-height: 230px;
    text-align: center; }
    @media all and (max-width: 782px) {
      .mf-step-left {
        line-height: 1;
        margin-bottom: 15px; } }
    .mf-step-left .qr-code-wrapper {
      width: 100%;
      height: 100%;
      border: 1px solid #b1aeb7; }
      @media all and (max-width: 782px) {
        .mf-step-left .qr-code-wrapper {
          display: inline-block;
          width: auto;
          margin: 0 auto; } }
      .mf-step-left .qr-code-wrapper img {
        display: block;
        image-rendering: pixelated;
        width: 100%;
        height: 100%;
        padding: 1px; }
        @media all and (max-width: 782px) {
          .mf-step-left .qr-code-wrapper img {
            width: 250px;
            height: 250px; } }
        @media all and (max-width: 480px) {
          .mf-step-left .qr-code-wrapper img {
            width: 150px;
            height: 150px; } }
      .mf-step-left .qr-code-wrapper .qr-code-placeholder {
        padding: 10px; }
      .mf-step-left .qr-code-wrapper .qr-code-hide {
        display: none; }
      .mf-step-left .qr-code-wrapper .qr-aspect-ratio {
        position: relative; }
        .mf-step-left .qr-code-wrapper .qr-aspect-ratio::before {
          display: block;
          content: "";
          width: 100%;
          padding-top: 100%; }
        .mf-step-left .qr-code-wrapper .qr-aspect-ratio > .aspect-ratio-content {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0; }
    .mf-step-left i {
      vertical-align: middle; }
    .mf-step-left img {
      display: inline-block;
      vertical-align: middle;
      max-width: 100%;
      max-height: 100%;
      height: auto; }
  .mf-step-right {
    position: relative;
    width: 60%; }
    .mf-step-right-content {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform-origin: 50% 50%;
      transform-origin: 50% 50%; }
      @media all and (max-width: 782px) {
        .mf-step-right-content {
          position: static;
          top: auto;
          transform: none;
          text-align: center; } }
    .mf-step-right-bottom {
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0; }
      @media all and (max-width: 782px) {
        .mf-step-right-bottom {
          position: static;
          bottom: auto;
          left: auto;
          display: inline-block;
          margin: 15px 0 0 0;
          text-align: center; } }
    .mf-step-right .stores_download {
      height: auto;
      overflow: hidden;
      margin-top: 25px; }
      @media all and (max-width: 782px) {
        .mf-step-right .stores_download {
          text-align: center; } }
      .mf-step-right .stores_download a {
        display: block;
        float: left;
        margin-right: 20px; }
        @media all and (max-width: 782px) {
          .mf-step-right .stores_download a {
            display: inline-block;
            float: none; } }
        @media all and (max-width: 480px) {
          .mf-step-right .stores_download a {
            margin: 0; } }
        .mf-step-right .stores_download a:last-of-type {
          margin-right: 0; }
    .mf-step-right p.step-desc {
      color: #363b41;
      font-size: 16px;
      line-height: 24px; }
    .mf-step-right p.muted {
      color: #58555a; }
    .mf-step-right p.step {
      text-transform: uppercase;
      font-size: 10px;
      font-weight: 700;
      line-height: 22px; }
    .mf-step-right h4 {
      font-size: 18px;
      line-height: 22px;
      font-weight: 700;
      color: #202225;
      margin-bottom: 20px; }
    .mf-step-right a.scanning-tips {
      color: #4c2f87; }
      .mf-step-right a.scanning-tips i,
      .mf-step-right a.scanning-tips span {
        display: inline-block;
        vertical-align: middle; }
      .mf-step-right a.scanning-tips span {
        text-transform: uppercase;
        font-size: 9px;
        font-weight: 700;
        margin-left: 3px;
        line-height: 16px;
        padding-top: 3px; }
.mf-option {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-top: 90px; }
  @media all and (max-width: 991px) {
    .mf-option {
      margin-top: 70px; } }
  @media all and (max-width: 782px) {
    .mf-option {
      text-align: center; } }
  @media all and (max-width: 767px) {
    .mf-option {
      margin-top: 50px; } }
  @media all and (max-width: 480px) {
    .mf-option {
      margin-top: 30px; } }
  .mf-option h5 {
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    margin: 0 0 35px 40px; }
    @media all and (max-width: 782px) {
      .mf-option h5 {
        margin: 0 0 15px 0; } }
.mf-delete-bar {
  display: inline-block;
  width: auto;
  text-align: center;
  color: #9d9c9d;
  margin-top: 70px; }
  .mf-delete-bar-container {
    text-align: center; }
  .mf-delete-bar a {
    display: block;
    width: 100%;
    height: 100%; }
  .mf-delete-bar i,
  .mf-delete-bar span {
    display: inline-block;
    line-height: 40px;
    vertical-align: middle; }
  .mf-delete-bar i {
    margin-right: 5px; }
    @media all and (max-width: 480px) {
      .mf-delete-bar i {
        margin: 0 auto;
        display: block; } }
  .mf-delete-bar span {
    font-size: 11px;
    letter-spacing: .25px; }
    @media all and (max-width: 480px) {
      .mf-delete-bar span {
        line-height: 20px;
        margin-top: 5px; } }

/*# sourceMappingURL=magic-password.css.map */
