.icon {
    background-image: url(../images/sprites.png);
    background-repeat: no-repeat;
    display: block;
}

.icon-app-store {
    width: 135px;
    height: 40px;
    background-position: -5px -5px;
}

.icon-delete {
    width: 13px;
    height: 16px;
    background-position: -5px -55px;
}

.icon-delete-exclamation-mark {
    width: 26px;
    height: 26px;
    background-position: -28px -55px;
}

.icon-error {
    width: 64px;
    height: 47px;
    background-position: -64px -55px;
}

.icon-google-play {
    width: 136px;
    height: 42px;
    background-position: -5px -112px;
}

.icon-radio-checked {
    width: 18px;
    height: 18px;
    background-position: -138px -55px;
}

.icon-radio-unchecked {
    width: 18px;
    height: 18px;
    background-position: -138px -83px;
}

.icon-scanning-tips {
    width: 16px;
    height: 16px;
    background-position: -150px -5px;
}

.icon-scanning-tips-login {
    width: 29px;
    height: 28px;
    background-position: -151px -111px;
}

.icon-tick {
    width: 51px;
    height: 33px;
    background-position: -176px -5px;
}
