<div class="mf-modal-backdrop {% block class %}{% endblock %}">
    <div class="mf-modal-backdrop-content">
        <div class="mf-modal" tabindex="-1">
            <div class="mf-modal-content text-center">
                <i class="icon icon-error"></i>
                <p class="info-paragraph">{% block description %}{% endblock %}</p>
                <input type="button" class="js-subscription-error-modal-ok mf-btn action" value="OK" />
            </div>
        </div>
    </div>
</div>
