{% extends "dashboard/base.html.twig" %}

{% block page %}
    <h1 class="hide"></h1>
    <h2 class="hide"></h2>
    <div class="notification-margin"></div>

    <h2>Error</h2>
    <p>{{ description }}</p>
{% endblock %}
