<div class="mf-modal-backdrop scanning-tips-modal anim-off">
    <div class="mf-modal-backdrop-content">
        <div class="mf-modal" tabindex="-1">
            <div class="mf-modal-content">
                <h2>This is super easy:</h2>
                <div class="mf-modal-steps-container">
                    <div class="mf-modal-step">
                        <p class="step">Step 1</p>
                        <img src="{{ assets_url }}images/tips-step-1.png" alt="Tips - step 1">
                        <p class="step-desc">Point camera at the Magic Code</p>
                    </div>
                    <div class="mf-modal-step">
                        <p class="step">Step 2</p>
                        <img src="{{ assets_url }}images/tips-step-2.png" alt="Tips - step 2">
                        <p class="step-desc">Wait for verification</p>
                    </div>
                    <div class="mf-modal-step">
                        <p class="step">Step 3</p>
                        <img src="{{ assets_url }}images/tips-step-3.png" alt="Tips - step 1">
                        <p class="step-desc">You're logged in!</p>
                    </div>
                </div>
                <input type="button" class="js-close-modal mf-btn action" value="All good, thanks!" />
            </div>
        </div>
    </div>
</div>